@import url('https://fonts.googleapis.com/css2?family=Righteous&family=W{ork+Sans:wght@100;200;300;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: "work Sans";
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* section header */

.contenedor-header{
    background: #eef3f6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: "Righteuos";
    font-size: 36px;
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #0f0e0e;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.inicio{
    background-size: cover;
    height: 90%;
    margin-top: 10%;
    color: #070707;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #ffff;
    max-width: 530px;
    margin: auto;
    text-align: center;
    border-radius: 60px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 5px solid #060606;
    border-radius: 50%;
    display: block;
    width: 90%;
    height: auto;
    margin: auto;  
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: "Righteous";
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #0b0b0b;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #111010;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s; 
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

/* section Sobre mi */

.sobremi{
    background-color: #ffff;
    color: #0c0c0c;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display:flex ;
}
.sobremi .fila .col{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: "Righteous";
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #eef3f6;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #0b0b0b;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #131212;
    position: relative;
    z-index: 10;
}
.sobremi button .download-link{
    color: #060606;
    text-decoration: none;
}
.sobremi button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1CB698;
  z-index: -1;
  transition: 1s;
}
.sobremi button:hover .overlay{
 width: 100%;
}

/* section Resultados */

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width:440px;
    height: 700px;
    box-shadow: 20px 20px 50px rgba(96, 94, 94, 0.5) ;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(96, 94, 94, 0.5) ;
    border-left: 1px solid rgba(96, 94, 94, 0.5) ;
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    font-size: 38px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
    z-index: 1;
}
.container .card .content p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.container .card .content p span{
    color: #1CB698;
    font-weight: bold;
}
.container .card .content ul{
    list-style: none;
}

/* section Portafolio */

.portafolio{
    background-color: #fff;
    color: #060606;
    padding: 50px 20px;
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio .contenido-seccion .col{
  display: flex;
  flex-wrap: wrap;
}
.portafolio .contenido-seccion .cols{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.portafolio h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}
.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin:10px;
    cursor: pointer;
}
.portafolio .galeria .proyecto img{
    width: 100%;
    display: block;
}

/* section Contacto */

.contacto{
    background-image: url(./imgvideos/mapaenpuntos.jpg);
    background-color: #fff;
    width: 100%;
    height: auto;
    color: #060606;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto .contenido-seccion .col img{
    height: 87%;
}
.contacto h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #eef3f6;
    color: #060606;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #0b0b0b;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #131212;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #eef3f6;
    padding: 20px;
    max-width: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

/*Footer */

footer{
    background-color: #282727d5;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover{
    background-color: #1CB698;
}
footer .heart i{
  color: red;
}
.copyright-text
{
  margin:0
}
.copyright-text a{
    text-decoration: none;
    color: #1CB698;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    top: -5px;
    border-radius: 100%;
    line-height: 50px;
    font-size: 18px;
}

/* section Responsive */
@media screen and (max-width:390px) {
    .inicio{
        height: 70%;
        margin-top: 20%;
    }
}

@media  screen and (max-width:980px) {
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #eef3f6;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;

    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px)  {

    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }
    .poprtafolio .galeria{
        display: block;
        width: 100%;
    }
    .poprtafolio .galeria .proyecto{
        max-width: 100%;
    }
    .portafolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
    .contacto .col .info{
        top: 50%;
        width: 80%;
        height: 40%;
    }


}